* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fraunces", serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fefaf0;
  height: 6vh;
  padding: 40px 100px;
}
@media screen and (max-width: 768px) {
  header .header-items .menu {
    display: none;
  }
}
header .header-items .nav-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
header .header-items .nav-actions .log-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  header .header-items .nav-actions .log-in {
    display: none;
  }
}
header .header-items .nav-actions .log-in svg {
  width: 20px;
}
header .burger-menu {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  header .burger-menu {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  header .burger-menu .burger-btn {
    display: block;
    width: 4.2rem;
    height: 2.8rem;
    z-index: 2;
    border: none;
    background: none;
    cursor: pointer;
  }
  header .burger-menu .burger-btn .burger-line {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #403f2b;
    transition: all 0.3s ease;
  }
  header .burger-menu .burger-btn .burger-line:nth-child(1) {
    top: 0px;
  }
  header .burger-menu .burger-btn .burger-line:nth-child(2) {
    top: 6px;
  }
  header .burger-menu .burger-btn .burger-line:nth-child(3) {
    top: 12px;
  }
  header .burger-menu .burger-btn.toggle .burger-1 {
    rotate: 45deg;
    top: 13px;
  }
  header .burger-menu .burger-btn.toggle .burger-2 {
    opacity: 0;
  }
  header .burger-menu .burger-btn.toggle .burger-3 {
    rotate: -45deg;
    top: 13px;
  }
}
header .burger-menu .aside-parent {
  background-color: #fefaf0;
  position: fixed;
  top: 0;
  right: -250px;
  height: 100%;
  width: 100%;
  z-index: 1;
  transition: right 0.3s ease;
  display: none;
}
header .burger-menu .aside-parent.active {
  right: 0;
  display: block;
}
header .burger-menu .aside-parent .log-in {
  position: absolute;
  top: -160%;
  left: 0%;
}
header .burger-menu .aside-parent ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin: 200px 100px;
}
header .burger-menu .aside-parent ul a {
  text-decoration: none;
  color: #403f2b;
}
header .burger-menu .aside-parent ul a:hover {
  color: #757548;
  transition: 0.3s ease-in-out;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e8e59b;
  height: 10vh;
}
footer .copyright {
  margin: 20px 0 0 200px;
}
@media screen and (max-width: 1024px) {
  footer .copyright {
    margin-left: 100px;
  }
}
@media screen and (max-width: 768px) {
  footer .copyright {
    margin-left: 20px;
  }
}
@media screen and (max-width: 480px) {
  footer .copyright {
    display: none;
  }
}
footer .social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin: 10px 200px 0 0;
}
@media screen and (max-width: 1024px) {
  footer .social-links {
    margin-right: 100px;
  }
}
@media screen and (max-width: 480px) {
  footer .social-links {
    margin-left: 50px;
  }
}
@media screen and (max-width: 390px) {
  footer .social-links {
    gap: 30px;
    margin-left: 20px;
  }
}
footer .social-links a {
  color: #403f2b;
}

section {
  padding: 100px;
}

h1 {
  font-size: 316px;
  font-weight: 400;
  color: #fffdc3;
}
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 200px;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 150px;
  }
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 100px;
  }
}

.xxl-text {
  font-size: 200px;
  font-weight: 300;
}
@media screen and (max-width: 1200px) {
  .xxl-text {
    font-size: 150px;
  }
}
@media screen and (max-width: 1024px) {
  .xxl-text {
    font-size: 120px;
  }
}
@media screen and (max-width: 768px) {
  .xxl-text {
    font-size: 100px;
  }
}
@media screen and (max-width: 480px) {
  .xxl-text {
    font-size: 50px;
  }
}

.xl-text {
  font-size: 66px;
  font-weight: 300;
}
@media screen and (max-width: 1024px) {
  .xl-text {
    font-size: 50px;
  }
}
@media screen and (max-width: 480px) {
  .xl-text {
    font-size: 36px;
  }
}
@media screen and (max-width: 390px) {
  .xl-text {
    font-size: 26px;
  }
}

.large-text {
  font-size: 40px;
  font-weight: 300;
}
@media screen and (max-width: 480px) {
  .large-text {
    font-size: 30px;
  }
}
@media screen and (max-width: 390px) {
  .large-text {
    font-size: 26px;
  }
}

.medium-text {
  font-size: 26px;
  font-weight: 300;
}
@media screen and (max-width: 480px) {
  .medium-text {
    font-size: 20px;
  }
}

.small-text {
  font-size: 20px;
  font-weight: 100;
}
@media screen and (max-width: 480px) {
  .small-text {
    font-size: 14px;
  }
}

.xs-text {
  font-size: 16px;
  font-weight: 100;
}
@media screen and (max-width: 480px) {
  .xs-text {
    font-size: 14px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  border-radius: 50px;
}
@media screen and (max-width: 480px) {
  .button {
    font-size: 14px;
  }
}

.white-btn {
  color: #403f2b;
  background-color: #fefaf0;
}

.green-btn {
  color: white;
  background-color: #403f2b;
}

#hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#hero-section .hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  text-align: center;
}
#hero-section .hero-text h3,
#hero-section .hero-text p {
  color: #fefaf0;
  padding-bottom: 50px;
}
#hero-section .hero-text p {
  font-size: 30px;
}
@media screen and (max-width: 1024px) {
  #hero-section .hero-text p {
    font-size: 30px;
  }
}
@media screen and (max-width: 480px) {
  #hero-section .hero-text p {
    font-size: 20px;
  }
}
#hero-section .hero-text a {
  padding: 14px 26px;
}
#hero-section img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

#products-section {
  text-align: center;
}
#products-section h2 {
  margin-bottom: 80px;
}
#products-section .products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
#products-section .products .product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 24%;
}
@media screen and (max-width: 1024px) {
  #products-section .products .product {
    width: 54%;
  }
}
@media screen and (max-width: 768px) {
  #products-section .products .product {
    width: 90%;
  }
}
#products-section .products .product .product-image {
  width: 100%;
  border-radius: 30px;
}
@media screen and (max-width: 768px) {
  #products-section .products .product .product-image {
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  #products-section .products .product .product-image {
    width: 120%;
  }
}
#products-section .products .product .product-text {
  color: #403f2b;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 1024px) {
  #products-section .products {
    flex-direction: column;
  }
}

#statement-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c4c197;
}
@media screen and (max-width: 1024px) {
  #statement-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
#statement-section .statement-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  color: #403f2b;
}
@media screen and (max-width: 1024px) {
  #statement-section .statement-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
#statement-section .statement-text a {
  padding: 14px 26px;
}
@media screen and (max-width: 1024px) {
  #statement-section .statement-text a {
    margin-bottom: 40px;
  }
}
#statement-section img {
  border-radius: 8%;
}
@media screen and (max-width: 480px) {
  #statement-section img {
    width: 150%;
  }
}

#collections-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#collections-section h2 {
  padding-bottom: 60px;
}
@media screen and (max-width: 480px) {
  #collections-section h2 {
    text-align: center;
  }
}
#collections-section .collections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  #collections-section .collections {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
#collections-section .collections .collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#collections-section .collections .collection .collection-text {
  position: absolute;
  top: 46%;
  text-align: center;
}
#collections-section .collections .collection .collection-text h3 {
  color: #fffdc3;
}
#collections-section .collections .collection .collection-text p {
  color: #fefaf0;
}
#collections-section .collections .collection img {
  border-radius: 6%;
  width: 90%;
}
@media screen and (max-width: 480px) {
  #collections-section .collections .collection img {
    width: 130%;
  }
}
@media screen and (max-width: 390px) {
  #collections-section .collections .collection img {
    width: 150%;
  }
}

#mission-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: #ddddcc;
}
@media screen and (max-width: 768px) {
  #mission-section h2 {
    text-align: center;
  }
}
#mission-section .heading-text {
  text-align: center;
  font-weight: 100;
  width: 40%;
}
@media screen and (max-width: 768px) {
  #mission-section .heading-text {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  #mission-section .heading-text {
    width: 120%;
  }
}
#mission-section .mission-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 140px;
  margin: 0 20px;
}
@media screen and (max-width: 1200px) {
  #mission-section .mission-icons {
    gap: 80px;
  }
}
@media screen and (max-width: 768px) {
  #mission-section .mission-icons {
    flex-wrap: wrap;
    gap: 20px;
  }
}
#mission-section .mission-icons .icon-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mission-section .mission-icons .icon-group svg {
  width: 100px;
}
@media screen and (max-width: 480px) {
  #mission-section .mission-icons .icon-group svg {
    width: 80px;
  }
}
#mission-section .mission-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 60%;
  padding-top: 80px;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  #mission-section .mission-text {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  #mission-section .mission-text {
    width: 150%;
  }
}
#mission-section .mission-text p {
  font-weight: 100;
}
#mission-section a {
  padding: 12px 22px;
  font-weight: 100;
}

#sale-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 1024px) {
  #sale-section {
    padding: 50px;
  }
}
@media screen and (max-width: 480px) {
  #sale-section {
    padding: 20px;
  }
}
#sale-section .sale-img {
  width: 100%;
}
#sale-section .sale-img img {
  width: 100%;
  border-radius: 50px;
}
#sale-section .sale-content {
  position: absolute;
  top: 36%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 390px) {
  #sale-section .sale-content {
    top: 30%;
  }
}
#sale-section .sale-content h3 {
  color: #fefaf0;
}
#sale-section .sale-content h2 {
  color: #fffdc3;
}
#sale-section .sale-content a {
  padding: 10px 40px;
}

#follow-section {
  background-color: #e8e59b;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#follow-section .footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
#follow-section .footer-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  #follow-section .footer-images {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
#follow-section .footer-images .footer-img {
  width: 24%;
}
#follow-section .footer-images .footer-img img {
  width: 100%;
  border-radius: 20px;
}
@media screen and (max-width: 768px) {
  #follow-section .footer-images .footer-img img {
    width: 200%;
  }
}

#pre-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e8e59b;
  border-top: 1px solid #403f2b;
  border-bottom: 1px solid #403f2b;
}
@media screen and (max-width: 1024px) {
  #pre-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 480px) {
  #pre-footer {
    padding-left: 50px;
  }
}
@media screen and (max-width: 390px) {
  #pre-footer {
    padding-left: 0;
  }
}
#pre-footer .footer-title {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 50px;
}
@media screen and (max-width: 1024px) {
  #pre-footer .footer-title {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  #pre-footer .footer-title {
    width: 120%;
  }
}
@media screen and (max-width: 390px) {
  #pre-footer .footer-title {
    padding-left: 20px;
  }
}
#pre-footer .footer-links {
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin: 200px 0 0 100px;
}
@media screen and (max-width: 1024px) {
  #pre-footer .footer-links {
    width: 100%;
    margin-left: 0;
  }
}
@media screen and (max-width: 480px) {
  #pre-footer .footer-links {
    gap: 80px;
    justify-content: center;
  }
}
@media screen and (max-width: 390px) {
  #pre-footer .footer-links {
    gap: 60px;
    padding-left: 60px;
  }
}
#pre-footer .footer-links .footer-links-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#pre-footer .footer-links a {
  text-decoration: none;
  color: #403f2b;
}
@media screen and (max-width: 480px) {
  #pre-footer .footer-links a {
    width: 160%;
  }
}/*# sourceMappingURL=style.css.map */